[submodule "Assignment 1"]
	path = Assignment 1
	url = https://github.com/tnadu/JPEG-Compression.git
[submodule "Final Project"]
	path = Final Project
	url = https://github.com/tnadu/Digital-Steganography-For-Image-Watermarking.git
